.homeBody{
	background-image: url("../image/new-cover.jpg");
	background-size: cover;
	padding:0;
	margin: 0;
}
.othersBody{
	background-color: #000000;
	padding: 0;
	margin: 0;
}
.contactbody{
	background-color: #b3a6e5;
	padding: 0;
	margin: 0;
}
h1{
	font-family: 'Cormorant Upright', serif;
	color: #f6b88c;
	font-size: 4vw;
	text-shadow: 3px 2px 5px #f8761a;
	padding-bottom: 2%;
	text-align: center;
}
hr{
	border-width: 2px;
	width: 100%;
	background-color: #1511eb;
}
.home{
	padding-top: 5px;
	margin-left: 30%;
}
.home a{
	text-decoration: none; 
	padding-right: 20px;
	color: #f6b88c;
	font-size: 1.8vw;
	padding-left: 20px;
}
.home a:visited
{
	color: #e77a46;
}
.home a:hover{
	text-shadow: 2px 3px 4px #f8761a;
}
.others{
	background-color: #ffffff;
	position: fixed;
	width: 100%;
	height: 60px;
	text-align: center;
	padding: 0;
}
.others a{
	position: relative;
	font-size: 1.8vw;
	color: #ef6a0b;
	text-decoration: none;
	font-family: 'Cormorant Upright', serif;
	padding-right: 40px;
	padding-left: 42px;
	top: 23%;
}
.others a:hover{
	text-shadow: 3px 1px 3px #eda775;
	background-color: #191919;
	color: #ff710e;
}
.slidesContainer{
	width: 1000px;
	position: fixed;
	margin: 3% 0 0 18%;
}
.mySlides{
	display: none;
}
.mySlides img{
	margin: 120px auto;
	width: 45%;
	height: 560px;
	box-shadow: 0 0 3px 3px #ffffff;
	box-sizing: border-box;
	margin-left: 15vw;
}
.captions{
	font-family: 'Audiowide', cursive;
	position: absolute;
	top: 11%;
	color: #ffffff;
	font-size: 25px;
	margin-left: 23%;
}
.prev, .next{
	cursor: pointer;
	position: absolute;
	top: 45%;
	font-size: 50px;
	font-weight: bold;
	transition: .4s ease;
	user-select: none;
	color: #f60d0d;
	user-select: none;
}
.next{
	right: 5%;
}
.prev{
	left: 6%;
}
.prev:active, .next:active{
	font-size: 40px;
}
.prev:hover, .next:hover{
	font-size: 60px;
}
.imagecontainer{
	position: fixed;
	border: 3px solid #ffffff;
	width: 60%;
	height:600px;
	margin: 120px auto;
	margin-left: 18vw;
}
.contactimage img{
	position: absolute;
	border-radius: 20px;
	opacity: 0.7;
	width: 50%;
	height: auto;
	margin-top: 10vh;
	margin-left: 14vw;
	box-sizing: border-box;
	box-shadow: 15px 15px 40px #d71313;
}
.contactimage img:hover{
	opacity: 0.9;
}

#contactlist{
	position: absolute;
	top: 2%;
	left: 3%;
	width: 10%;
}
#contactlist .list{
	display: none;
	width: 10%;
	margin-left: 6px;
	margin-top: 40px;
}
#contactlist .list img{
	padding-bottom: 0;
}
#contactlist .list img:hover,.toggle-button img:hover,.credits p:hover{
	box-sizing: border-box;
	box-shadow: 3px 3px 10px #000000;
	border-radius: 5px;
}
.credits{
	position: absolute;
	bottom: 0;
	right: 1%;
}
.credits p,a{
	font-family: 'Audiowide', cursive;
	font-size: 20px;
	color: #354ae1;
	text-decoration: none;
}
*/
.fade{
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
@-webkit-keyframes fade{
	from{opacity: .4}
	to{opacity: 1}
}
@keyframes fade{
	from{opacity: .4}
	to{opacity: 1}
}